.demo-input {
    width: 100%;
    padding: 20px;
    border: 1px solid #CCC;
    margin-bottom: 10px;
}
.collapse-a, .collapse-a:active, .collapse-a:hover, collapse-a:visited {
    color: #800 !important;
    text-decoration: underline;
}

#supported-functions a {
    display: inline-block;
    margin-right: 5px;
    color: #a8465d;
    font-weight: 600;
}
#demo-panel {
    width: 100%;
    margin-top: 20px;
}
.expression {
    margin-top: 4px;
    border: 1px solid #EFEFEF;
    border-bottom-color: #CCC;
}
.expression > div {
    padding: 10px;
}
.expression-body {
    margin-right: 90px;
}
.expression-btn {
    float: right;
    width: 30px;
    background: #EFEFEF;
}
.expression-btn a, expression-btn a:active, expression-btn a:hover, expression-btn a:visited {
    color: #696969;
}
.demo-alert h5 {
    background: #a8465d;
    padding: 2px;
    text-align: center;
}
.modal-header, .modal-body, .modal-footer {
    background: #384452;
    color: #FFF;
    border: 0;
 }
 .modal-body {
     background: #1e2329;
     padding: 30px;
 }
 .modal-header .close span{
     color: #FFF;
 }
 .modal-header {
     padding: 5px;
     padding-right: 15px;
 }
/*http://bootsnipp.com/snippets/featured/animated-radios-amp-checkboxes-nojs*/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox-label {
    font-size: 0.7em;
}
/*GRAPH*/
.graph svg text{
    font-size: 10px;
}
.graph svg text.title {
    font-size: 20px;
}
/*Guppy*/
.guppy_active, .guppy_inactive {
    padding: 30px !important;
}
.guppy_active {
    border: 2px solid #b1d0ff !important;
}
.guppy_inactive {
    border: 2px solid #7A95FC !important;
}
.guppy_buttons {
    display: none !important;
}

.checkbox label {
    padding-left: 10px;
}

.checkbox-label {
    font-size: 0.6em;
}