/*https://github.com/Khan/KaTeX/issues/171*/

span.math.display {
    display: inline-block;
    width: 100%;
    overflow-x: auto;
}
.katex-display > .katex {
    display: inline-block;
    white-space: nowrap;
    text-align: initial;
}
.katex {
    font: normal 1.21em KaTeX_Main, Times New Roman, serif;
    line-height: 1.2;
    white-space: normal;
    text-indent: 0;
}