root { 
    display: block;
}

body {
    background: url('../images/math.jpg');
    font-size: 1em;
}

.dark-on-light {
    background: #FFF;
    padding: 10px;
}

footer {
    line-height: 50px;
    text-align: center;
    color: #EFEFEF;
}


.panel-row {
    border-top: 1px solid #CCC;
    display: block;
    padding: 1.25em 0;
}

.anchor-green {
    color: #80A600;
}

.anchor-green:hover {
    color: #B3E800;
}